<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiguangssp.addemo">

    <application
        android:name=".ADJgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jiguang_jg_icon"
        android:label="@string/jiguang_app_name"
        android:networkSecurityConfig="@xml/jiguang_adjg_network_security_config"
        android:roundIcon="@mipmap/jiguang_jg_icon"
        android:supportsRtl="true"
        android:theme="@style/JiguangAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig,android:allowBackup,android:theme">

        <activity
            android:name=".activity.SplashAdActivity"
            android:exported="true"
            android:theme="@style/JiguangSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
