<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.windmill.android.demo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tobid_ic_launcher"
        android:label="@string/tobid_app_name"
        android:networkSecurityConfig="@xml/tobid_network_security_config"
        android:roundIcon="@mipmap/tobid_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TobidAppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
